<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Liste des utilisateurs</title>

</head>

<body>

<main role="main" class="container">

        <h1>Début de la liste des utilisateurs enregistrés</h1>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user: ${users}">
                    <td th:text="${user}"></td>
                </tr>
            </tbody>
        </table>

</main>

</body>
</html>